<div id="referee-panel" class="panel panel-default fill-parent">
    <div class="panel-heading">
        <span>
            Referee Actions
        </span>
        <span id="referee-panel-collapse" class="btn btn-default btn-xs pull-right collapse-button">
            -
        </span>
    </div>
    <div class="panel-body">
        <div>
            <!--
            <div class="checkbox m-b-s" style="margin-top: 0">
                <div id="kick-player" class="btn btn-default">
                    Kick Players
                </div>
            </div>
            -->
            <div style="margin-top: 8px; text-align: center">
                <div id="referee-portal" class="btn btn-default" data-toggle="modal" data-target="#referee-form-dialog">
                    Referee Portal
                </div>
            </div>
        </div>
    </div>
</div>